input[type="file"] {
    width: 100% !important;
    overflow: hidden !important;
}

.miniature-image {
    display: block;
    object-fit: cover;
    width: 125px;
    height: 79px;
    opacity: 0.5;
}

.active-miniature{
    opacity: 1;
    border: 2px solid black;
}

.main-image {
    object-fit: cover;
    width: 100%;
    height: 720px;
}

.img-header {
    display: flex;
    justify-content: center;
    background-color: #2FBBAF;
    padding: 10px;
}
.img-header > button {
    background-color: transparent !important;
    border: none;
    padding: 10px;
}

